.addTasksForm {
  /* border: 1px solid red; */
  width: 100%;

  margin: 0 0 1rem 0;

  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.input__title,
.input__note {
  border: none;
  /* border-bottom: 1px solid var(--secondary-color); */
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    to right,
    var(--secondary-color),
    var(--secondary-color)
  );
  border-image-slice: 1;
  outline: none;

  width: 20rem;
  height: 2rem;

  padding: 0.5rem 2rem;
  font-size: 0.85rem;

  transition: all 0.8s ease-in-out;
  /* color: --font-color; */
}

.input__title {
  flex: 2;
  font-size: 1rem;
}

.input__note {
  flex: 9;
  width: 55rem;
  padding: 0.5rem 1rem;

  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, var(--font-color), var(--font-color));
  border-image-slice: 1;

  color: var(--secondary-color);
}

.input__title::placeholder {
  color: var(--font-color);
}

.input__note::placeholder {
  color: var(--secondary-color);
}

.input__title:focus {
  /* border-bottom-color: var(--font-color); */
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    to right,
    var(--font-color),
    var(--secondary-color)
  );
  border-image-slice: 1;
  /* caret-color: var(--secondary-color); */
}

.input__note:focus {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    to right,
    var(--font-color),
    var(--secondary-color),
    var(--secondary-color)
  );
  border-image-slice: 1;
}

.button__submit {
  /* position: absolute; */
  /* right: 0rem; */
  /* left: 2rem; */
  flex: 0.5;

  width: 5rem;

  background-color: transparent;
  border: 0.1rem solid var(--secondary-color);
  border-radius: 1rem;

  font-size: 1rem;
  padding: 0.2rem 1.5rem;
  transition: all 0.6s ease-in-out;
}

.button__submit:hover {
  background-color: var(--secondary-color);
  color: var(--font-color);
  cursor: pointer;
}

.button__submit:active {
  transform: scale(0.6);
}

@media (max-width: 1000px) {
  .input__title {
    font-size: 0.8rem;
  }

  .input__note {
    font-size: 0.6rem;
  }

  .button__submit {
    background-color: var(--secondary-color);
  }
}

@media (max-width: 650px) {
  .addTasksForm {
    flex-direction: column;
  }

  .input__note,
  .input__title {
    flex: 1;
    width: 90%;
    padding: 0.5rem 0;
  }

  .button__submit {
    width: 90%;
    font-size: 0.8rem;
    margin-top: 1rem;
    padding: 0.5rem;

    background-color: var(--secondary-color);
  }
}
