@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

:root {
  --primary-color: rgb(48, 48, 48);
  --font-color: rgb(241, 241, 241);
  --secondary-color: rgb(56, 147, 147);
  --secondary-color-less-opacity: rgba(56, 147, 147, 0.702);
}

* {
  background-color: var(--primary-color);
  color: var(--font-color);
  font-family: "Poppins", monospace;
  /* width: 100%; */
}

.App {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 500;

  margin: 1rem 0;
  /* border: 1px solid red; */
}

@media (max-width: 1000px) {
  .title {
    font-size: 2rem;
  }
}

@media (max-width: 650px) {
  .title {
    font-size: 2rem;
  }
}
