.tasksList {
  /* border: 1px solid red; */
  width: 95%;

  padding: 1rem;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 650px) {
  .tasksList {
    padding: 0;
  }
}
